.env
.idea/
.venv/
__pycache__/
myenv/
.env2

/shelf/
/workspace.xml
/httpRequests/
/dataSources/
/dataSources.local.xml
*.env
*.log
*.sqlite3
/db/
/extensions/
venv/

*.json
dumps/

*.session
*.session-journal