amqp==5.3.1
annotated-types==0.7.0
anyio==4.9.0
APScheduler==3.11.0
async-timeout==5.0.1
attrs==25.3.0
billiard==4.2.1
celery==5.4.0
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
exceptiongroup==1.2.2
fastapi==0.115.12
flower==2.0.1
h11==0.14.0
httplib2==0.22.0
humanize==4.12.2
idna==3.10
instagrapi==2.1.3
instaloader==4.14.1
kombu==5.5.1
outcome==1.3.0.post0
pillow==11.1.0
prometheus_client==0.21.1
prompt_toolkit==3.0.50
psycopg2==2.9.10
pyaes==1.6.1
pycryptodomex==3.21.0
pydantic==2.10.1
pydantic_core==2.27.1
pyparsing==3.2.3
Pyrogram==2.0.106
PySocks==1.7.1
python-dateutil==2.9.0.post0
pytz==2025.2
redis==5.2.1
requests==2.32.3
ruamel.yaml==0.18.10
ruamel.yaml.clib==0.2.12
selenium==4.30.0
simplejson==3.20.1
six==1.17.0
sniffio==1.3.1
sortedcontainers==2.4.0
starlette==0.46.1
TgCrypto==1.2.5
tornado==6.4.2
trio==0.29.0
trio-websocket==0.12.2
typing_extensions==4.12.2
tzdata==2025.1
tzlocal==5.3.1
urllib3==1.26.15
uvicorn==0.34.0
vine==5.1.0
wcwidth==0.2.13
websocket-client==1.8.0
wsproto==1.2.0

pytest~=8.4.0
numpy~=2.0.2
future~=0.18.2
pip~=25.0.1
wheel~=0.37.0
pygments~=2.19.1
python-dotenv~=1.1.0